@model IEnumerable<NettBank.Models.LoanCompanyViewModel>
@using System.Globalization;
@{
    ViewBag.Title = "SearchLoans";
}

<section class="Search-result">
    <div class="container">
        <div class="form-refine-holder mt-6">
            hello!!!!
        </div>

        <div class="loan-result-holder mt-10">
           @Html.Partial("_LoanFormPartial", Model)
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
       $(document).ready(function () {
           $('.rating').each(function () {
               var thz = $(this);
               const starTotal = 5;
               let average = thz.text();

                const starPercentage = (average / starTotal) * 100;
                const starPercentageRounded = `${((starPercentage / 10) * 10)}%`;
                thz.html(`<div class="stars-outer">
                            <div class="stars-inner" style="width:${starPercentageRounded}"></div>
                          </div>`);
           });
       })
    </script>
}