<div class="lenders">
    <div class="lenders heading uppercase text-gray-500 mt-12 flex justify-center">Some of our lenders</div>
    <div class="lenders-brands flex justify-between mt-8">
        <img src="~/Content/Images/Cowrywise.svg" class="w-40 image-blend" />
        <img src="~/Content/Images/Eyowo.svg" class="w-40 image-blend" />
        <img src="~/Content/Images/Fliqpay.svg" class="w-40 image-blend" />
        <img src="~/Content/Images/Lendsqr.svg" class="w-40 image-blend" />
        <img src="~/Content/Images/PiggyVest.svg" class="w-40 image-blend" />
    </div>
</div>