:root {
    --small-text-color: #718096;
    --small-text-color-dark: #718096;
}
html {
    font-size: 62.5%,;
    font-family: 'Roboto', sans-serif;
}

.Menu{
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu-items {
    justify-content: space-between;
    align-items: center;
    color: var(--small-text-color);
}
.navbar-brand {
    font-family: 'Odibee Sans', sans-serif;
    font-size: 2.7rem;
    color: var(--small-text-color-dark);
}

.menu-item{
    transition: all .2s;
    border-bottom-width: 0;
    position: relative;
}

    .menu-item::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 0.2rem;
        color: green;
        width: 0;
        transition: all .4s ease 0s;
    }

    .menu-item:nth-child(1).menu-item::after {
        background-color: #1abc9c;
    }

    .menu-item:nth-child(2).menu-item::after {
        background-color: #e74c3c;
    }

    .menu-item:nth-child(3).menu-item::after {
        background-color: #9b59b6;
    }

    .menu-item:nth-child(4).menu-item::after {
        background-color: #e67e22;
    }
    .menu-item:hover {
        color: var(--small-text-color-dark);
    }

        .menu-item:hover.menu-item::after {
            width: 100%;
        }

.mobile-menu{
    display: none;
}

/*TOGGLE*/

/**/


/*RESPONSIVENESS*/
@media (max-width: 1024px) {
    .navbar-brand {
        font-size: 2.2rem;
    }

    .menu-items{
        display: none;
    }

    .mobile-menu{
        display: block;
    }

    .hamburger-menu,
    .hamburger-menu:after,
    .hamburger-menu:before {
        width: 50px;
        height: 4px;
        z-index: 10;
    }

    .hamburger-menu {
        position: relative;
        transform: translateY(4px);
        background: var(--small-text-color-dark);
        transition: all 0ms 300ms;
    }

        .hamburger-menu.animate {
            background: rgba(255, 255, 255, 0);
        }

        .hamburger-menu:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 11px;
            background: var(--small-text-color-dark);
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        .hamburger-menu:after {
            content: "";
            position: absolute;
            left: 0;
            top: 11px;
            background: var(--small-text-color-dark);
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        .hamburger-menu.animate:after {
            top: 0;
            transform: rotate(45deg);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        .hamburger-menu.animate:before {
            bottom: 0;
            transform: rotate(-45deg);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    .container {
        width: 95%;
    }

}