
body {
    font-family: 'Roboto', sans-serif;
}

.btn{
    display: inline-block;
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: inherit;
    background-color: #37cfb1;
    font-size: 13px;
    border-radius: 3px;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid #2a3554;
    color: #2a3554;
}

.btn-2 {
    padding: 10px 15px;
    height: unset;
    width: unset;
    display: inline-block;
}

.brand {
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Odibee Sans', cursive;
}

.hero-text{
    height: 500px;
}

.whychoose{
    height: 600px;
}

.cta {
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%23371c62' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%233a286d' cx='50' cy='100' r='50'/%3E%3Cg fill='%233d3178' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23413881' cx='50' cy='200' r='50'/%3E%3Cg fill='%23433f8a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23464593' cx='50' cy='300' r='50'/%3E%3Cg fill='%23494b9a' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%234c50a2' cx='50' cy='400' r='50'/%3E%3Cg fill='%234e55a9' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%235159b0' cx='50' cy='500' r='50'/%3E%3Cg fill='%23535db7' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%235562bd' cx='50' cy='600' r='50'/%3E%3Cg fill='%235866c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%235a69c9' cx='50' cy='700' r='50'/%3E%3Cg fill='%235c6dcf' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%235e71d5' cx='50' cy='800' r='50'/%3E%3Cg fill='%236074da' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%236278e0' cx='50' cy='900' r='50'/%3E%3Cg fill='%23647be5' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23667eea' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    width: 100%;
    text-align: center;
    font-family: inherit;
}

#progressbar li {
    list-style-type: none;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    font-size: 9px;
    width: 20%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: white;
    background: #CBD5E0;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #CBD5E0;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #37cfb1;
    color: white;
}


/*Steps*/
.steps fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 17px 41px -21px rgb(0, 0, 0);
    padding: 20px 30px;
    border-top: 9px solid #37cfb1;
    box-sizing: border-box;
    width: 1300px;
    margin: 0 auto;
    /*stacking fieldsets above each other*/
    position: absolute;
    display: flex;
    justify-content: center;
}

.fs-title {
    text-transform: capitalize;
    margin: 0 0 5px;
    line-height: 1;
    color: inherit;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 1.7;
    letter-spacing: 1.2;
}

.fieldset-holder {
    width: 40%;
    margin: 0 auto;
    color: #2d3748;
}

.steps label {
    /*color: #333333;*/
    text-align: left !important;
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 7px;
    padding-top: 12px;
    display: inline-block;
}


.naira {
    display: inline-block;
    padding: 5px 10px;
    background-color: #a0aec0;
    color: #fff;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.steps input, .steps textarea {
    outline: none;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    width: 80%;
    border-radius: 3px;
    color: #837E7E;
    margin-left: -3.8px;
    border-left: none;
    /*font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;*/
 }

.steps input:focus, .steps textarea:focus {
    color: #333333;
    border: 1.5px solid #667eea;
    border-left: none;
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

input[type="radio"]:checked + label {
    border: 2px solid #667eea;
    background-color: #E2E8F0;
}

.radio-image{
    display: block;
    text-align: center;
    padding-bottom: 5px;
}

.radio-icon{
    height: 40px;
    margin: 0 auto;
}

.small-card {
    background-color: #EDF2F7;
    padding: 10px 30px;
    cursor: pointer;
    border: 1px solid #E2E8F0;
    font-weight: 700 !important;
    text-transform: capitalize;
    transition: all 0.3s ease-out;
}

.error1, .success{
    height: 40px;
}

.error1{
    color: red;
}

.success{
    color: green;
}

.error1 {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    position: absolute;
    left: 525px;
    margin-top: -58px;
    padding: 0 10px;
    height: 39px;
    display: block;
    color: #ffffff;
    background: #e62163;
    border: 0;
    font: 14px Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    line-height: 39px;
    white-space: nowrap;
}

.error{
    color: red;
}

.error1:before {
    width: 0;
    height: 0;
    left: -8px;
    top: 14px;
    content: '';
    position: absolute;
    border-top: 6px solid transparent;
    border-right: 8px solid #e62163;
    border-bottom: 6px solid transparent;
}

.error-log {
    margin: 5px 5px 5px 0;
    font-size: 19px;
    position: relative;
    bottom: -2px;
}

