@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <div class="hero flex justify-between">
            <div class="hero-text pt-40">
                <h1 class="text-5xl w-3/4 uppercase font-bold text-gray-900">Compare loans, choose the best <span class="text-blue-500">option</span> right away!</h1>
                <p class="pt-2 w-1/2 text-base text-gray-500">when you can't find a loan and you're over it.... That's when we're over it</p>

                <div class="hero-btn pt-2">
                    <div class="btn btn-2 shadow-lg" role="button">Compare Loans</div>
                </div>
            </div>

            <div class="hero-image">
                <img src="~/Content/Images/hero-img.svg" class="w-full pt-24" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="lenders">
            <div class="lenders heading uppercase text-gray-500 mt-12 flex justify-center">Some of our lenders</div>
            <div class="lenders-brands flex justify-between mt-8">
                <img src="~/Content/Images/Cowrywise.svg" class="w-40 image-blend" />
                <img src="~/Content/Images/Eyowo.svg" class="w-40 image-blend" />
                <img src="~/Content/Images/Fliqpay.svg" class="w-40 image-blend" />
                <img src="~/Content/Images/Lendsqr.svg" class="w-40 image-blend" />
                <img src="~/Content/Images/PiggyVest.svg" class="w-40 image-blend" />
            </div>
        </div>
    </div>

    <div class="whychoose bg-gray-300 mt-24">
        <div class="container">
            hello
        </div>
    </div>
