@{
    ViewBag.Title = "Home Page";
}

<div class="hero flex justify-between">
    <div class="hero-text pt-40">
        <h1 class="text-5xl w-2/5 uppercase font-bold text-gray-900">Compare loans, choose the best <span class="text-blue-500">option</span> right away!</h1>
        <p class="pt-2 w-2/5 text-base text-gray-500">when you can't find a loan and you're over it.... That's when we're over it</p>

        <div class="hero-btn pt-2">
            <div class="btn btn-2 shadow-lg" role="button">Compare Loans</div>
        </div>
    </div>

    <div class="hero-image">
        hero image
    </div>
</div>