@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <div class="hero flex justify-between">
            <div class="hero-text pt-40">
                <h1 class="text-5xl w-3/4 uppercase font-bold text-gray-900">Compare loans, choose the best <span class="text-indigo-500">option</span> right away!</h1>
                <p class="pt-2 w-1/2 text-base text-gray-500">when you can't find a loan and you're over it.... That's when we're over it</p>

                <div class="hero-btn pt-2">
                    <div class="btn btn-2 shadow-lg" role="button">@Html.ActionLink("Compare Loans", "Options", "Home")</div>
                </div>
            </div>

            <div class="hero-image">
                <img src="~/Content/Images/hero-img.svg" class="w-full pt-24" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="lenders">
            <div class="lenders heading uppercase text-gray-500 mt-12 flex justify-center">Some of our lenders</div>
            <div class="lenders-brands flex justify-between mt-8">
                <img src="~/Content/Images/Cowrywise.svg" class="w-40 image-blend" />
                <img src="~/Content/Images/Eyowo.svg" class="w-40 image-blend" />
                <img src="~/Content/Images/Fliqpay.svg" class="w-40 image-blend" />
                <img src="~/Content/Images/Lendsqr.svg" class="w-40 image-blend" />
                <img src="~/Content/Images/PiggyVest.svg" class="w-40 image-blend" />
            </div>
        </div>
    </div>

    <div class="whychoose bg-gray-200 mt-32">
        <div class="container pt-16">
            <div class="text-gray-600 flex justify-center font-bold text-2xl">
                Why choose NettBank?
            </div>
            <div class="whychooseOptions flex justify-between mt-12">
                <div class="option w-1/3">
                    <div class="flex justify-center">
                        <img src="~/Content/Images/clock.svg" class="w-32" />
                    </div>
                    <div class="text-indigo-500 text-2xl mt-6 font-bold flex justify-center">No more wasted hours.</div>
                    <div class="text-gray-500 text-base text-center mt-6 leading-loose">
                        Our dedicated credit specialists are here to help and have over 100+ years of combined industry experience.
                    </div>
                </div>

                <div class="option w-1/3 ml-4">
                    <div class="flex justify-center">
                        <img src="~/Content/Images/result.svg" class="w-32" />
                    </div>
                    <div class="text-indigo-500 text-2xl mt-8 font-bold flex justify-center">Instant results.</div>
                    <div class="text-gray-500 text-base text-center mt-6 leading-loose">
                        Our charming AI loan finder will match you with the perfect loan instantly. It couldn't be easier or faster.
                    </div>
                </div>

                <div class="option w-1/3 ml-4">
                    <div class="flex justify-center">
                        <img src="~/Content/Images/option.svg" class="w-32" />
                    </div>
                    <div class="text-indigo-500 text-2xl mt-4 font-bold flex justify-center">Multiple Options.</div>
                    <div class="text-gray-500 text-base text-center mt-6 leading-loose">
                        Multiple options of loan companies available to choose from with an oportunity to tailor according to need.
                    </div>
                </div>
            </div>

            <div class="mt-8 flex justify-center">
                <div class="btn btn-2 shadow-xl" role="button">@Html.ActionLink("Compare Loans", "Options", "Home")</div>
            </div>
        </div>
    </div>

    <div class="h-64 cta">
        <div class="container text-center">
            <div class="cta-text leading-relaxed text-white pt-24 text-2xl">
                Join 234 customers who compare
                <div> their loans with NettBank</div>
            </div>
            

            <div class="mt-8 flex justify-center">
                <div class="btn btn-2 shadow-xl" role="button">@Html.ActionLink("Compare Loans", "Options", "Home")</div>
            </div>

        </div>
    </div>
